* {
  box-sizing: border-box;
}

.layout-container {
  display: flex;
  min-height: 100vh;
  background-color: #e9e2d0;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  margin-left: 250px; /* same width as sidebar */
}

.content-wrapper {
  width: 900px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}

.results-section {
  background: #e5dbc7;
  padding: 20px;
  border-radius: 12px;
}

.card-wrapper {
  margin-bottom: 20px;
}

.no-results {
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
}
.filter-section {
  background: #dcd3bf;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.search-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-select,
.search-input,
.search-btn {
  height: 42px;
}

.search-select {
  background-color: #7b1113;
  color: white;
  border: none;
  padding: 0 12px;
  border-radius: 6px;
  width: 150px;
}

.search-input {
  flex: 1;
  padding: 0 12px;
  border-radius: 6px;
  border: 1px solid #7b1113;
  background-color: #f7f3ea;
}

.search-btn {
  background-color: #7b1113;
  color: white;
  padding: 0 22px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #5e0d0f;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 8px;
}

.pagination button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background-color: #7b1113;
  color: white;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #5e0d0f;
}

.pagination button.active {
  background-color: #c49b3f;
  color: #7b1113;
  font-weight: bold;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
